.sass-cache

bower_components

node_modules

understrap.zip

dist

dist-product

npm-debug.log

/vendor/

.DS_Store

Thumbs.db

.svn

.cvs

*.bak

*.swp

.idea/

src/sass/social-colors/

css/

img/

inc/mayo-functions/

js/theme-*

rev-manifest.json