// Heading Font Styles are defined via mixin
// This allows heading font style to be applied to non-heading elements
// when needed for style, when it's not semantically correct to use a
// heading element

@mixin h1-font-style {
  font-family: $inter-font-family;
  font-size: 55px;
  font-weight: $font-weight-semibold;
  line-height: 1.2;
  @include media-breakpoint-down(md) {
    font-size:32px ;
  }
  @include media-breakpoint-down(sm) {
    font-size:26px ;
  }
}

h1 {
  @include h1-font-style;
}

@mixin h2-font-style {
  font-family: $inter-font-family;
  font-size: 42px;
  font-weight: $font-weight-semibold;
  line-height: 1.2;
  @include media-breakpoint-down(md) {
    font-size:32px ;
  }
  @include media-breakpoint-down(sm) {
    font-size:26px ;
  }
}
h2 {
  @include h2-font-style;
}
@mixin h3-font-style {
  font-family: $inter-font-family;
  font-size: 30px;
  font-weight:500;
  line-height: 1.2;
  @include media-breakpoint-down(md) {
    font-size:28px ;
  }
  @include media-breakpoint-down(sm) {
    font-size:22px ;
  }
}
h3 {
  @include h3-font-style;
}
@mixin h4-font-style {
  font-family: $barlow-font-family;
  font-size: 18px;
  font-weight: $font-weight-semibold;
  color: $primary;
  text-transform: uppercase;
  @include media-breakpoint-down(sm) {
    font-size:16px ;
  }
}
h4 {
  @include h4-font-style;
}
@mixin h5-font-style {
  font-family: $inter-font-family;
  font-weight: $font-weight-semibold;
  font-size: 18px;
  line-height: 1.2;
  @include media-breakpoint-down(sm) {
    font-size:16px ;
  }
}
h5 {
  @include h5-font-style;
}
@mixin h6-font-style {
  font-family: $inter-font-family;
  font-weight: 500;
  font-size: 18px;
  @include media-breakpoint-down(sm) {
    font-size:16px ;
  }
}
h6 {
  @include h6-font-style;
}
